* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}



body {
  background-color: #b30000;
}

header.cabecalho-principal {
  background-color: #dddddd;
  width: 100%;
  height: 40px;
	padding: 0 30px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

#pontuacao-jogo {
  background-color: #61b1ea;
  border-radius: 30px;
  color: white;
  padding: 5px 50px;

  font-size: 20px;
  font-weight: 700px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#pontuacao-jogo img {
  margin-right: 15px;
}

#nome-jogo {
  font-weight: bolder;
  font-size: 22px;
}

#corpo {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

#esquerda {
  display: flex;
  flex-direction: column;
	width: 60%;
	color: white;
  align-items: center;
}

#esquerda h3 {
  margin-bottom: 10px;
}


section#corpo #esquerda #cor-atual {
  margin: 10px 0 20px 5px;
  height: 200px;
  width: 200px;

  border: 6px solid black;
  border-radius: 10px;
}

#btn-responder {
  background-color: transparent;
  border: 1px solid white;

	padding: 15px 100px;

	color: white;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;
}

#container footer#rodape {
  height: 160px;
	width: 100%;
	bottom: 0px;
	position: fixed;
	

	background-color: rgb(26, 26, 32);
	display: flex;
  justify-content: center;
  align-items: center;
}
